<div class="cuerpo">
  <div id="bannerWeb">
    <img class="" src="assets/img/banner.png" width="100%" alt="banner productes">
  </div>

  <div class="container letra" style="box-shadow: rgb(124, 124, 124) 0px 0px 5px 5px;border-radius: 1em" [routerLink]="['/list']">
    <div class="row">
      <div class="col-3">
        <img class="imagen" src="assets/img/1.png" width="100%">
        <p><span style="font-weight: bold;">Mii electric</span><br>
          Desde 18.800 €</p>
      </div>
      <div class="col-3">
        <img class="imagen" src="assets/img/2.png" width="100%">
        <p><span style="font-weight: bold;">Ibiza</span><br>
          Desde: 13.160 €</p>
      </div>
      <div class="col-3">
        <img class="imagen" src="assets/img/3.png" width="100%">
        <p><span style="font-weight: bold;">León</span><br>
          Desde 23.240 €</p>
      </div>
      <div class="col-3">
        <img class="imagen" src="assets/img/4.png" width="100%">
        <p><span style="font-weight: bold;">Nuevo León</span><br>
          Desde 19.160 €</p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <img class="imagen" src="assets/img/5.png" width="100%">
        <p><span style="font-weight: bold;">Nuevo León Sportstourer</span><br>
          Desde 20.550 €</p>

      </div>
      <div class="col-3">
        <img class="imagen" src="assets/img/6.png" width="100%">
        <p><span style="font-weight: bold;">Arona</span><br>
          Desde 16.480 €</p>
      </div>
      <div class="col-3">
        <img class="imagen" src="assets/img/7.png" width="100%">
        <p><span style="font-weight: bold;">Alhambra</span><br>
          Desde 38.011 €</p>
      </div>
      <div class="col-3">
        <img class="imagen" src="assets/img/8.png" width="100%">
        <p><span style="font-weight: bold;">Ateca</span><br>
          Desde 28.800 €</p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <img class="imagen" src="assets/img/9.png" width="100%">
        <p><span style="font-weight: bold;">Nuevo Ateca</span><br>
          Desde 21.160 €</p>
      </div>
      <div class="col-3">
        <img class="imagen" src="assets/img/10.png" width="100%">
        <p><span style="font-weight: bold;">Tarraco</span><br>
          Desde 30.400 €</p>
      </div>
      <div class="col-3">
        <img class="imagen" src="assets/img/11.png" width="100%">
        <p><span style="font-weight: bold;">León Sportstourer</span><br>
          Desde 24.260 €</p>
      </div>
      <div class="col-3">
        <img class="imagen" src="assets/img/12.png" width="100%">
        <p><span style="font-weight: bold;"> MÓ eScooter 125</span><br>
          Desde 3.500 €</p>
      </div>
    </div>
    <p style="text-align: center;font-weight: bold;">Y MUCHOS MÁS...</p>
  </div>

</div>

<footer class="color_fondo fixed-bottom bg-light text-center text-lg-start">
  <div class="txtfoot">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-dark" href="carlesvallbona.cat">jordiwebs.com</a>
    </div>
  </div>
</footer>

<!--div class="contenedor letra">
  <p class="item">
    <img src="assets/img/AulaVirtual.png"  alt="logo productes">
  </p>
  <h1>Hola {{name}} {{surname}}</h1>
  <h1>Hola {{retornarNomCognom()}}</h1>
  <p class="item">
    {{titol}}
  </p>
</div-->